.registrationDetail {
  position: absolute;
  background-color: rgb(205, 121, 121);
  border-radius: 3%;
  padding: 10px;
  margin: 110px 400px;
}
table,
td {
  border-collapse: collapse;
  width: 100%;
}
table input {
  margin: 5px;
  border-radius: 25px;
  border: 2px solid rgb(154, 151, 155);
  padding: 10px;
  width: 250px;
  height: 15px;
}
.registrationbutton {
  background-image: linear-gradient(rgb(51, 51, 182), rgb(187, 20, 229));
  font-size: larger;
  margin: 15px 225px;
  border-radius: 25px;
  border: 2px solid rgb(154, 151, 155);
  padding: 20px;
  width: 300px;
}
.addressArea {
  font-size: larger;
  margin: 0%;
  border: 1pxx solid rgb(154, 151, 155);
  padding: 15px;
  width: 650px;
}
/* .signUpBackground{
    position: relative;
    background-color:whitesmoke;
    background-image: url(https://e0.pxfuel.com/wallpapers/667/98/desktop-wallpaper-login-background-outlook-login.jpg);
    background-repeat: no-repeat;
    margin: -0.6%;
    height:100vh;
    width:100vw;
    height:100vh;
    width:9000px;
} */
